# Project Data Science: Bitcoin Price Prediction

## 1. Introduction
In this day AI have a significant impact almost in our life and work place, and for this field we will leveraging ai in sequential data development. In this Data Science Project we will do some research about BTCUSD consolidation price with Deep Learning Neural Network LSTM method using PyTorch library
### 1. 1 Project Objective
The main objective is to predict BTC price until the next months with LSTM (Long Short Term Memory) method
### 1. 2 Dataset Description
`BTC-USD.csv` is the name of the dataset, which was taken from the Kaggle Dataset and has seven columns: `Date, Open,High, Low, Close, Adj Close, Volume`. The data is a compilation of the price of Bitcoin from 2014 until early 2024, which is a changes every minute.

## 2. Data Preparation

### 2.1 Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

### 2.2 Loading the Dataset

In [38]:
df = pd.read_csv('BTC-USD.csv', parse_dates=['Date'])

### 2.3 Initial Data Exploration

In [41]:
# get 5 first data
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2014-09-18,456.859985,456.859985,413.104004,424.440002,424.440002,34483200.0
1,2014-09-19,424.102997,427.834991,384.532013,394.795990,394.795990,37919700.0
2,2014-09-20,394.673004,423.295990,389.882996,408.903992,408.903992,36863600.0
3,2014-09-21,408.084991,412.425995,393.181000,398.821014,398.821014,26580100.0
4,2014-09-22,399.100006,406.915985,397.130005,402.152008,402.152008,24127600.0

In [45]:
# get data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3413 entries, 0 to 3412
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       3413 non-null   datetime64[ns]
 1   Open       3412 non-null   float64
 2   High       3412 non-null   float64
 3   Low        3412 non-null   float64
 4   Close      3412 non-null   float64
 5   Adj Close  3412 non-null   float64
 6   Volume     3412 non-null   float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 186.8 KB

In [46]:
# to know mean, max, min, std, 25%, 50%, 75% of each column
df.describe()

,Date,Open,High,Low,Close,Adj Close,Volume
count,3413,3412.000000,3412.000000,3412.000000,3412.000000,3412.000000,3.412000e+03
mean,2019-05-21 00:00:00.000000256,14747.360368,15091.809098,14376.126435,14758.111980,14758.111980,1.663026e+10
min,2014-09-18 00:00:00,176.897003,211.731003,171.509995,178.102997,178.102997,5.914570e+06
25%,2017-01-18 00:00:00,921.790009,935.210266,908.876495,921.739258,921.739258,1.685530e+08
50%,2019-05-21 00:00:00,8288.819824,8464.720703,8108.011475,8285.438965,8285.438965,1.176004e+10
75%,2021-09-20 00:00:00,24345.831543,24986.300293,23907.724610,24382.675293,24382.675293,2.697648e+10
max,2024-01-21 00:00:00,67549.734375,68789.625000,66382.062500,67566.828125,67566.828125,3.509679e+11
std,NaN,16293.633702,16683.948248,15855.901350,16295.374063,16295.374063,1.907607e+10

## 3. Data Cleaning

### 3.1 Handling Missing Values

In [47]:
#find missing valuee
df.isnull().sum()

Date         0
Open         1
High         1
Low          1
Close        1
Adj Close    1
Volume       1
dtype: int64

In [48]:
# drop all missing values
df.dropna(inplace=True)
# check again
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

### 3.2 Removing Duplicate Values

In [51]:
# check duplicate values without Timestamp column
df.duplicated().sum()

np.int64(0)

## 4. Exploratory Data Analysis (EDA)